/* ============================================================
   PANEL PRINCIPAL (Tarjeta completa)
   ============================================================ */
.vehicle-card {
    -fx-background-color: #31487A; /* fondo oscuro */
    -fx-background-radius: 10;
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.40), 18, 0.28, 0, 6);
}

/* ============================================================
   PANEL IZQUIERDO OSCURO (Imagen)
   ============================================================ */
.vehicle-card > .HBox > AnchorPane {
    -fx-background-color: #31487A; /* fondo oscuro */
    -fx-background-radius: 10 0 0 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 12, 0.22, 0, 4);
}

.vehicle-title {
    -fx-font-family: "Arial Black";
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Imagen */
#imgCarro {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.50), 18, 0.3, 0, 5);
}

/* ============================================================
   PANEL DERECHO (Info)
   ============================================================ */
.vehicle-card > .HBox > AnchorPane:nth-child(2) {
    -fx-background-color: #31487A; /* fondo oscuro */
    -fx-background-radius: 0 10 10 0;
}

/* ============================================================
   BOTÓN CERRAR (Dark Red elegante)
   ============================================================ */
.btn-primary {
    -fx-background-color: linear-gradient(to bottom, #b91c1c, #7f1d1d);
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 11px;
    -fx-padding: 7 16;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(185,28,28,0.40), 10, 0.3, 0, 4);
}

.btn-primary:hover {
    -fx-background-color: linear-gradient(to bottom, #dc2626, #991b1b);
}

/* ============================================================
   LABELS DE INFORMACIÓN (blancos, elegantes)
   ============================================================ */
#lblModelo, #lblPlaca, #lblColor, #lblEstado,
#lblTipo, #lblAnio, #lblKm, #lblFechaCreacion {

    -fx-font-size: 12px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #f8fafc; /* Blanco suave */
    -fx-font-weight: bold;
}

#lblPlaca, #lblColor, #lblEstado, #lblTipo,
#lblAnio, #lblKm, #lblFechaCreacion {
    -fx-padding: 5 0 0 0;
}
